<launch>
  <arg name="namespace" default="$(env UAV_NAMESPACE)"/>
  <arg name="mqtt_config_file" default="$(find uav_ros_bridge)/config/virtual_uav_mqtt_config.yaml"/>

  <group ns="$(arg namespace)">
    <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'; ">
      <rosparam command="load" file="$(arg mqtt_config_file)"/>
    </node>
  </group>

</launch>
